myenv
PDF
Res.csv
Data
chromedriver_linux64
Updated.csv
LLM_GCP_Textbson.json
chromedriver 
Script/glove.6B
*.pyc
**/__pycache__/
LLM/__pycache__/__init__.cpython-310.pyc
LLM/__pycache__/gpt.cpython-310.pyc
Scraper/__pycache__/__init__.cpython-310.pyc
Scraper/__pycache__/database_connection.cpython-310.pyc
Scraper/__pycache__/scrape.cpython-310.pyc
Script/__pycache__/__init__.cpython-310.pyc
Script/__pycache__/preprocess_text.cpython-310.pyc
.env